body{
    background-color: #124559;
}
div{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
h1{
    color: #EFF6E0;
}
h2{
    color: #AEC3B0;
}
a{
    color: #598392;
    transition-duration: 200ms;
}
a:hover{
    color: #EFF6E0;
}
ul{
    list-style: none;
}